{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated %}
<div class="wrapper">{% include 'start.html' %}</div>
{% else %}
<form method="post" action="/">
  <h2>Tic Tac Toe</h2>
  <div class="login">
    <div>
      <label>Login:</label>
      <input
        type="text"
        placeholder="username"
        name="username"
        value="{{username}}"
      />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" value="{{password}}" />
    </div>
  </div>
  <button type="submit" name="create" class="login-btn">Login</button>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endif %} {% endblock %}
