{% extends 'base.html' %}{% block content %}
<div class="room">
  Pokój {{ code }}
  <div>
    <h3 class="waiting-info">Waiting for other players...</h3>
  </div>
  <div class="board-wrapper">
    <p class="player_1">Player 1:</p>
    <div class="board">
      <div class="cell" onclick="makeMove(0, 0)"></div>
      <div class="cell" onclick="makeMove(0, 1)"></div>
      <div class="cell" onclick="makeMove(0, 2)"></div>
      <div class="cell" onclick="makeMove(1, 0)"></div>
      <div class="cell" onclick="makeMove(1, 1)"></div>
      <div class="cell" onclick="makeMove(1, 2)"></div>
      <div class="cell" onclick="makeMove(2, 0)"></div>
      <div class="cell" onclick="makeMove(2, 1)"></div>
      <div class="cell" onclick="makeMove(2, 2)"></div>
    </div>
    <div class="player_2">Player 2:</div>
  </div>

  <button type="submit" name="next" onClick="handleNextGame()">
    Next game
  </button>
  <button type="submit" name="leave" onClick="handleLeave()">Leave</button>
</div>
<script type="text/javascript">
  window.onload = function() {
    const joinRoom = () => {
      const code = {{ code }}

      console.log("emit")
      socketio.emit("join", {
        user_id: {{current_user.id}},
        session_id: {{ session_id }},
      });
    }

    joinRoom()
  };

  const code = {{ code }};
  const user_id = {{current_user.id}}
  var currentPlayer = "";
  var playerPawn = "";
  var cells = document.querySelectorAll(".cell");
  var canStartGame = false;
  var gameId = null;

  const getBoard = () => {
    const boardValues = [[], [], []];

    cells.forEach((cell, index) => {
      const x = Math.floor(index / 3)
      const y = index % 3
      boardValues[x].push(cell.textContent);
    });

    console.log(boardValues);
    return boardValues;
  }

  const clearBoard = () => {
    cells.forEach((cell, index) => {
      cell.textContent = "";
      cell.style.backgroundColor = "#f0f0f0";
    });
  }

  const makeMove = (row, col) => {
    if(currentPlayer == {{current_user.id}})
    {
      var cell = cells[row * 3 + col];
      if (cell.textContent === "") {
        cell.textContent = playerPawn;
        cell.style.backgroundColor = "#fff";
      }

      socketio.emit('move', {game_id: gameId, board: getBoard()})
    }
  };

  const changeInfo = (newInfo, append=false) => {
    if(append){
      document.querySelector(".waiting-info").insertAdjacentHTML('beforeend', newInfo);
    }
    else {
      changeInfo(newInfo);
    }
  };

  socketio.on("join", (data) => {
    gameId = data.game;
    document.querySelector(".player_1").innerHTML = `Player 1: ${data['users'][0]}`;
    if(data['users'].length > 1)
    {
      document.querySelector(".player_2").innerHTML = `Player 2: ${data['users'][1]}`;
      changeInfo(`Starting the game`);

      socketio.emit("starting", { game_id: gameId });
    }
  });

  socketio.on("leave", (data) => {
    document.querySelector(".player_1").innerHTML = `Player 1: ${data['users'][0]}`;
  });

  socketio.on("starting", (data) => {
    currentPlayer = data["starting_player"]
    if(currentPlayer == {{current_user.id}}){
      playerPawn = "O"
      changeInfo(`Your turn ${playerPawn}`);
    }
    else {
      playerPawn = "X"
      changeInfo(`It's opponent turn `);
    }
  })

  socketio.on("move", (data) => {
    currentPlayer = data["next_player"]
    updateTextInfo()
    updateBoard(data['board'])
  })

  socketio.on("next_game", (data) => {
    gameId = data["game"]
    console.log("zapisałem nowy game id")
    changeInfo(` Start the new game!`, true);
  })

  socketio.on("finish", (data) => {
    var winner = data["winner"]
    canStartGame = data["new_game"]

    if (data['state'] == 'draw'){
      changeInfo(`Draw!`);
    }
    else if (user_id == winner){
      changeInfo(`Winner winner chicken dinner! You won!`);
    }
    else {
      changeInfo(`You lost!`);
    }
    socketio.emit("next_game", { session_id: {{ session_id }}, room: code })
    clearBoard();
  })

  const updateBoard = (board) => {
    cells.forEach((cell, index) => {
      const x = Math.floor(index / 3)
      const y = index % 3
      var value = board[x][y]
      if (value != ""){
        cell.textContent = board[x][y]
        cell.style.backgroundColor = "#fff";
      }
    });
  }

  const updateTextInfo = () => {
    if(currentPlayer == {{current_user.id}}){
      changeInfo(`Your turn ${playerPawn}`);
    }
    else {
      changeInfo(`It's opponent turn `);
    }
  }

  const leaveRoom = () => {
    socketio.emit("leave", {
      game_id: gameId
    });
  };


  const handleLeave = () => {
    leaveRoom()
    window.location.href = "{{ url_for('routes.home') }}";
  };

  const handleNextGame = () => {
    if(canStartGame)
    {
      socketio.emit("starting", { game_id: gameId });
    }
    else {
      changeInfo(`New game cannot be started. Leave room and find new oponnent`);
    }
  }
</script>
{% endblock %}
