{% extends 'base.html' %}{% block content %}
<div class="room">
  Pokój {{ code }}
  <div>
    <h3 class="waiting-info">Waiting for other players...</h3>
  </div>
  <div class="board-wrapper">
    <p class="player_1">Player 1:</p>
    <div class="board">
      <div class="cell" onclick="makeMove(0, 0)"></div>
      <div class="cell" onclick="makeMove(0, 1)"></div>
      <div class="cell" onclick="makeMove(0, 2)"></div>
      <div class="cell" onclick="makeMove(1, 0)"></div>
      <div class="cell" onclick="makeMove(1, 1)"></div>
      <div class="cell" onclick="makeMove(1, 2)"></div>
      <div class="cell" onclick="makeMove(2, 0)"></div>
      <div class="cell" onclick="makeMove(2, 1)"></div>
      <div class="cell" onclick="makeMove(2, 2)"></div>
    </div>
    <div class="player_2">Player 2:</div>
  </div>

  <button type="submit" name="leave" onClick="handleLeave()">Leave</button>
</div>
<script type="text/javascript">
  window.onload = function() {
    const joinRoom = () => {
      const code = {{ code }}

      socketio.emit("join", {
        user_id: {{current_user.id}},
        room: {{code}},
      });
    }

    joinRoom()
  };

  var currentPlayer = "X";
  var cells = document.querySelectorAll(".cell");

  const makeMove = (row, col) => {
    var cell = cells[row * 3 + col];
    if (cell.textContent === "") {
      cell.textContent = currentPlayer;
      cell.style.backgroundColor = "#fff";

      if (currentPlayer === "X") {
        currentPlayer = "O";
      } else {
        currentPlayer = "X";
      }
    }
  };

  socketio.on("join", (data) => {
    document.querySelector(".player_1").innerHTML = `Player 1: ${data['users'][0]}`;
    if(data['users'].length > 1)
    {
      document.querySelector(".player_2").innerHTML = `Player 2: ${data['users'][1]}`;
      document.querySelector(".waiting-info").innerHTML = `Starting the game`;

      const code = {{ code }};

      socketio.emit("starting", {room: code});
    }
  });

  const leaveRoom = (username, code) => {
    socketio.emit("leave", {
      username: username,
      room: code,
    });
  };


  const handleLeave = () => {
    const username = "{{ current_user.username }}"
    const code = {{code}}

    leaveRoom(username, code)
    window.location.href = "{{ url_for('home') }}";
  }
</script>
{% endblock %}
