<div class="panel">
  Hej, {{ current_user.username }}
  <div class="rooms">
    <div class="join-room">
      <form method="post" action="/room">
        <input
          type="text"
          placeholder="Room Code"
          name="code"
          id="code"
          value="{{code}}"
          required
        />
        <button type="submit" name="join">Join a Room</button>
      </form>
    </div>
  </div>
  <div>
    <button type="submit" name="logout"><a href="/logout">Logout</a></button>
  </div>
</div>
