.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.login-btn {
    display: block;
    margin: 10px auto;
}

h2 {
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #000;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f0f0f0;
}

.board-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 100px;
}